@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
  background-color: #222831;
  color: #EEEEEE;
  font-family: 'IBM Plex Mono', Courier, monospace;
}

nav {
  box-shadow: 0 5px 15px #1e232b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  text-decoration: none;
  color: #EEEEEE;
}

.logo:hover {
  font-weight: bold;
  color: #EEEEEE;
}

img {
  width: 80%;
}

.emoji {
  animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;
  /* Change to speed up or slow down */
  animation-iteration-count: infinite;
  /* Never stop waving :) */
  transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

.headtitle1 {
  padding-bottom: 2%;
  border-bottom: 3px solid #D65A31;
}

.btn-pri {
  background-color: #D65A31;
  border-radius: 10px;
  padding: 12px;
}

.btn-sec {
  color: #D65A31;
  border: 2px solid #D65A31;
  border-radius: 10px;
  padding: 12px;
}

.btn:hover {
  box-shadow: 0 10px 10px #4c5057;
}

.btn-sec:hover {
  color: #D65A31;
}

.subtitle {
  position: relative;
  display: inline-block;
  z-index: 1;
  text-align: center;
  font-size: 8vw;
}

.subtitle::before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  width: 12vw;
  height: 12vw;
  background-color: #393E46;
  opacity: 0.7;
  padding: 5px 0 12px 30px;
  z-index: -1;
}

.about-container {
  padding-top: 8%;
}

.card {
  background-color: transparent;
  border: none;
}

.card:hover {
  background-color: #393E46;
}

.modal {
  background-color: #1b1d22e8;
}

.modal-dialog,
.modal-content {
  background: transparent;
}

.modal-content,
.modal-body {
  border: none;
  border-radius: 30px;
}

.project-img,
.project-img-modal {
  border-radius: 20px;
}

.project-img-modal {
  width: 70%;
}